html,body { margin: 0; }

h1,h2,h3 { text-align: center; }

div#tabs-1 {
    height: 100%;
    background: #DFD;
    border: 1px solid #009;
    padding: 5px;
}
div#tabs-2 {
    height: 100%;
    background: #FFD;
    border: 1px solid #009;    
    padding: 5px;
}
div#tabs-3 {
    height: 100%;
    background: #FDD;
    border: 1px solid #009;    
    padding: 5px;
}

.ui-tabs-hide {
    display: none;
}

div#tabs {
    margin: 0 40px 0 40px;
    height: 500px;
    min-width:500px;
    }
    
div#tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 22px;
    border-bottom: 1px solid #000;
}
div#tabs ul li {
    float: left;
    height: 17px;
    padding: 4px 10px 0 10px;
    margin-right: 5px;
    border: 1px solid #CCC;
    border-bottom: none;
    position: relative;
    background: #AAA;
}
div#tabs ul li a {
    text-decoration: none;
    color: black;
}
div#tabs ul li.ui-tabs-selected {
    background: #CCC;
}
div#tabs ul li.ui-tabs-selected a {
    color: white;
}